.ship {
  visibility: hidden;
}

.div{

}

.square{
  width: 16px;
  height:16px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
}

#board{

}

.OPEN{
  background-color: white;
}

.HIT{
  background-color: red;
}

.SHIP{
  background-color: white;
}

.MISS{
  background-color: blue;
}